.logo-box{
    color:white;
    display:flex;
    justify-content: flex-start;
    font-size: 1.3rem;
    /* margin-left: 3rem; */
    margin-top:-20px;
    text-decoration: none;
}
.logo-box ul{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-left:60rem;
}
.logo-box ul li{
    margin-left:1.5rem;
}

#search{
    color:white;
    background-color: black;
}
#saved{
    color:white;
}
#profile{
    color:white;
}

@media(max-width:1000px){
    .logo-box{
        color:white;
        display:flex;
        justify-content: flex-start;
        font-size:1rem;
        /* margin-left: 3rem; */
        margin-top:0;
        text-decoration: none;
    }
    .logo-box ul{
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        position:absolute;
        margin-left:0;
    }
    .logo-box ul li{
        margin-left:0;
    }
    
    #search{
        color:white;
    }
    #saved{
        color:white;
    }
    #profile{
        color:white;
    }
    
}