/* .craving-container{
    width: 90%;
    margin: auto;
    font-size: 62.5%;

}

.craving-images-container-file{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}

 .craving-images-container-file img{
    width: 100%;
    border-radius: 5px;
    
 }

 .craving-images{
    width: 33.5%;
    padding-left:2rem;
 }

 .craving-images-container-file a{
    text-decoration: none;
 }

 .cravings-labol-container-file{
    position: relative;
    top: -8.5rem;
    color: aliceblue;
    padding: 0.4rem;
    text-shadow:rgba(0, 0, 0, 1) 0px 3px 8px ;
 }

 .cravings-labol-container-file .collection{
    font-size: 1rem;
 }
 .cravings-labol h2{
    font-size: 2rem;
    letter-spacing: 1px; 
    font-weight: 500;
    margin-top:3rem;
 }
 .cravings-labol{
        font-size: 2rem;
        letter-spacing: 1px; 
        font-weight: 800;
 } */