.trending-recipe-page{
    width: 90%;
    margin: auto;
    font-size: 62.5%;

 }


 .trending-labol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 1.5rem;

 }

 .trending-labol h2{
   font-weight: 500;
 }

.trendingimgs-card{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.trendingimgs{
   width: 24%;
   border: 2px solid rgb(239, 238, 238);
   border-radius: 5px;
}
.trendingimgs a img{
   width: 100%;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;

}
.trendingimgs a{
text-decoration: none;
}
.trendingimgs a p{
   font-size: 1rem;
   font-family: 'Maven Pro', sans-serif;
   letter-spacing: 1px;
   color: black;
   font-weight: 500;
   padding: 1rem;

}
@media only screen and (min-width:250px) and (max-width:840px) {


.trending-recipe-page{
   width: 90%;
   scroll-behavior: smooth;
}

.trending-labol{
   position: relative;
}

.trendingimgs-card{
   overflow-x:scroll ;
   flex-direction:column;
}

.trendingimgs{
   width: max-content;
}


}