.Footer_bar{
    background-color: black;
    color: #ffffff;
    min-height: 15rem;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    bottom:0;
}
.Footer-bar-child1 {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;

}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;
}
.icons div{
    margin:1rem;
    font-size:1rem;
}
.footer-nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size:1rem;
}
.footer-nav div{
    margin:1rem;
}
.Footer-bar-child2{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    font: size 1rem;
    position:relative;
    top:-60px;
    right:2rem;
}
.discovery{
    position:relative;
    left:270px;

}
.copyright{
    font-size:1rem;
    font-weight: -100;
}
.Footer-nav2 ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Footer-nav2 ul li{
    margin:0.5rem;
    font-size:1rem;
}
.ul1{
    position:relative;
    left:180px;
}
.ul2{
    position:relative;
    left:120px;
}
.link{
    text-decoration: none;
    color: #ffffff;
}
.link:hover{
    color:red;
}

@media  (min-width:300px) and (max-width:1000px){


    .Footer_bar{
        font-size: 14px;
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        bottom: 0;
        width: 100%;
        height:20%;
    }
 
    .contact {
       padding-top: 2.5rem;
    }

    .Footer_bar_width {
        width: 100%;
    }
    .link{
        text-decoration: none;
        color: #ffffff;
    }
    .link:hover{
        color:red;
    }

}


@media (max-width:600px){

     
    .container1 {
        display: block;
        margin:2rem;
    }
  
  .contact {
    position: relative;
      left: 1rem;
      width: 80%;
      font-size: 14px;
      gap: 1px;
      padding-top: 1rem;
  }
  .Reference {
    position: relative;
      left: 1rem;
      width: 80%;
      font-size: 14px;
      gap: 1px;
  }
  .link{
    text-decoration: none;
    color: #ffffff;
}
.link:hover{
    color:red;
}
}