.fav-container{
   width: 84%;
   margin: auto;
   padding: 1rem;
  
}

.fav-wrapper{
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.fav-title-wrapper{
   /* width: 100%; */
   display: flex;
   justify-content: space-between;
}
.fav-title-wrapper h3{
   font-size: 2rem;
}
.fav-title-wrapper p{
   font-size: 1.3rem;
}

.fav-cards-wrapper{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   align-content: flex-start;
}

.fav-card{
   border: 1px solid rgb(211, 211, 211);
   width: 30%;
   margin-bottom: 2rem;
   height: 25rem;
   overflow: hidden;
   cursor: pointer;
}

.fav-card a{
   color: black;
}

.fav-dish{
   padding: 1rem;
   font-size: 1.5rem;
}

.fav-img{
   height: 90%;
}
.fav-img img{
   width: 90%;
   height: 90%;
}